.auth-container{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;
}

.auth-card {
    width: 100%;
    max-width: 450px;

    padding: 40px;

    background: rgba(255,255,255,0.06);
    backdrop-filter: blur(20px);

    border: 1px solid rgba(255,255,255,0.12);

    border-radius: 24px;

    box-shadow: 0 25px 60px rgba(0,0,0,0.35);
}

.auth-title{
    text-align:center;
    margin-bottom:10px;
    font-size:2rem;
    font-weight:700;
}

.auth-subtitle{
    text-align:center;
    color:var(--text-secondary);
    margin-bottom:30px;
}

.auth-form{
    display:flex;
    flex-direction:column;
    gap:15px;
}

.auth-form label{
    font-size:.9rem;
}

.auth-form input {
    padding: 14px;
    border-radius: 12px;
    background: rgba(255,255,255,.06);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,.15);
    color: white;
    transition: all .2s ease;
}

.auth-form input:focus {
    outline: none;
    border: 1px solid rgba(56,189,248,.6);
    box-shadow: 0 0 0 3px rgba(56,189,248,.15);
}

.auth-form input::placeholder{
    color:rgba(255,255,255,.5);
}

.btn-primary {
    padding: 7px 16px;;
    border-radius: 12px;
    background: linear-gradient(
        135deg,
        rgba(56,189,248,1),
        rgba(99,102,241,1)
    );

    border: none;
    color: white;
    font-weight: 600;

    cursor: pointer;

    transition: all .25s ease;

    box-shadow: 0 8px 20px rgba(56,189,248,.25);
}

.btn-primary:hover {
    transform: translateY(-2px) scale(1.02);
    box-shadow: 0 12px 30px rgba(56,189,248,.35);
}

.btn-secondary {
    padding: 14px;
    border-radius: 12px;
    background: rgba(255,255,255,.06);
    border: 1px solid rgba(255,255,255,.18);
    color: white;
    cursor: pointer;
    transition: all .25s ease;
}

.btn-secondary:hover {
    background: rgba(255,255,255,.12);
    transform: translateY(-2px);
}

.auth-links{

    margin-top:25px;

    display:flex;
    justify-content:space-between;
}

.auth-links a{
    text-decoration:none;
    color:var(--primary);
    font-size:.9rem;
}

.dashboard-header{
    margin-bottom:30px;
}

.dashboard-header h1{
    font-size:2.2rem;
    margin-bottom:8px;
}

.dashboard-header p{
    color:var(--text-secondary);
}

.glass-container {
    width:100%;
    max-width:1400px;
    margin: 40px auto;
    padding: 30px;

    background: rgba(255,255,255,0.03);
    backdrop-filter: blur(20px);

    border: 1px solid rgba(255,255,255,0.08);
    border-radius: 24px;

    box-shadow: 0 20px 60px rgba(0,0,0,0.4);

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.dashboard-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.dashboard-actions {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    justify-content: flex-start;
}