*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

:root{

    --bg-primary:#0F172A;
    --bg-secondary:#1E293B;

    --glass-bg:rgba(255,255,255,.08);
    --glass-border:rgba(255,255,255,.15);

    --primary:#38BDF8;

    --text:#FFFFFF;
    --text-secondary:#CBD5E1;

    --radius:20px;
}

body{

    font-family:'Segoe UI',sans-serif;

    min-height:100vh;

    background:
        linear-gradient(
            135deg,
            var(--bg-primary),
            var(--bg-secondary)
        );

    color:var(--text);
}